@page "/classinfo"


<h1>2.B</h1>
<table class="table">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Average Grade</th>
<th></th>
</tr>
@foreach (var student in students)
{
    <tr>
        <td>@student.FirstName</td>
        <td>@student.LastName</td>
        <td>@student.AverageGrade</td>
        <td><a href="/ classinfo / @student.Id">More Info</a></td>
    </tr>
}
</table>

@code {
    struct Student
    {
        public int Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public float AverageGrade { get; set; }
    }

    List<Student> students = new List<Student>()
    {
        new Student() { FirstName = "John", LastName = "Doe", AverageGrade = 90 },
        new Student() { FirstName = "Jane", LastName = "Doe", AverageGrade = 80 },
        new Student() { FirstName = "Joe", LastName = "Doe", AverageGrade = 70 },
        new Student() { FirstName = "Jill", LastName = "Doe", AverageGrade = 60 },
        new Student() { FirstName = "Jack", LastName = "Doe", AverageGrade = 50 },
    };
}