@page "/classselect"
@using SPSZDomainLayer.Model
@using SPSZDomainLayer.Service



<center><h1>Vyberte třídu</h1></center>
<div class="flex-grid-thirds">
    @foreach (var c in GetClasses())
    {
        <ClassItem ClassO="@c" />
    }
        
    
</div>

@code {
    List<ClassRoom> GetClasses()
    {
        Teacher t = LoginSystemService.Instance.LogedAs as Teacher;
        return t.GetClassRooms();
    }
}