@page "/"
@page "/index"

<h1>SPSZ - Systém pro správu známek</h1>

@* @if (SPSZ.Logic.LoginSystem.IsLoggedIn)
{
    <h2>Uživatel je přihlášen s ID @SPSZ.Logic.LoginSystem.Id</h2>
}
else
{
    <h2>Uživatel není přihlášen</h2>
} *@

