@page "/login"
@using Models


<h1>Přihlášení</h1>
<div class ="card">
    <div class ="card-body">
        <EditForm Model="loginModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class ="form-group">
                <label for ="username">Uživatelské jméno</label>
                <InputText class ="form-control" id ="login" @bind-Value="loginModel.Login" />
            </div>
            <div class ="form-group">
                <label for ="password">Heslo</label>
                <InputText type="password" class ="form-control" id ="password" @bind-Value="loginModel.Password" />
            </div>
            <button type ="submit" class ="btn btn-primary">Přihlásit</button>
        </EditForm>
    </div>
</div>

@code {
    private LoginModel loginModel = new LoginModel();

    [Inject]
    private NavigationManager navigationManager { get; set; }
    private void HandleValidSubmit()
    {
        if(SPSZui.Logic.LoginSystem.LogIn(loginModel.Login, loginModel.Password))
            navigationManager.NavigateTo("/",true);
        else
            Console.WriteLine("Nepodařilo se přihlásit");

    }
}