@page "/studentselect"
@using Models


<center><h1>Vyberte Studenta</h1></center>
<div class="flex-grid-thirds">
    <StudentItem StudentName="Jan Novák" StudentClass="1.A"/>
    <StudentItem StudentName="Petr Novák" StudentClass="1.A"/>
</div>

@code {
    
}