@using SPSZDomainLayer.Model

<div class="class-item">
    <a href="@infoLink">    
    <div class="class-title">
        <a>
            <span class="oi oi-bell mr-1" aria-hidden="true"></span>
            <strong>@ClassO.ClassName</strong>
        </a>
    </div>
   
    <div class="student-count">
        <a>
        <span class="oi oi-people mr-1" aria-hidden="true"></span>
        @ClassO.GetStudents().Count
        </a>
    </div>
    </a>
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public ClassRoom ClassO { get; set; }

    string infoLink {get {return "/classinfo/" + ClassO.Id.Value + "/";}}
}
