@inherits LayoutComponentBase
@using SPSZDomainLayer.Model
@using SPSZDomainLayer.Service
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (LoginSystemService.Instance.IsLoggedIn)
            {
                <a>Přihlášen jako @LoginSystemService.Instance.LogedAs.Firstname @LoginSystemService.Instance.LogedAs.Lastname (@GetRole())</a>

            }
            else
            {
                <a>Uživatel není přihlášen</a>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    public string GetRole()
    {
        if (LoginSystemService.Instance.IsLoggedIn)
        {
            if(LoginSystemService.Instance.LogedAs is Teacher)
                return "Učitel";
            
            return "Rodič";

        }
        return "guest";
    }
}