@using SPSZDomainLayer.Model
@using SPSZDomainLayer.Service
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SPSZ</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @* <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li> *@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Domů
            </NavLink>
        </li>
        @if(!LoginSystem.Instance.IsLoggedIn)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Přihlásit se
                </NavLink>
            </li>
        }
        else
        {
            @if(LoginSystem.Instance.LogedAs is Teacher)
            {
                <li class="nav-item px-3">
                <NavLink class="nav-link" href="classselect" >
                    <span class="oi oi-bell" aria-hidden="true"></span> Výběr tříd
                </NavLink>
                </li>
            }
            else
            {
                <li class="nav-item px-3">
                <NavLink class="nav-link" href="studentselect" >
                    <span class="oi oi-person" aria-hidden="true"></span> Výběr žáka
                </NavLink>
                </li>
            }


            <li class="nav-item px-3">
                <NavLink class="nav-link" @onclick=Logout >
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Odhlásit se
                </NavLink>
            </li>
        }
        @* <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Přihlásit se
            </NavLink>
        </li> *@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Inject]
    private NavigationManager navigationManager { get; set; } 

    private void Logout()
    {
        LoginSystem.Instance.LogOut();
        navigationManager.NavigateTo("/",true);
    }
}
