
<div class="student-item" >
<a href="@infoLink">    
    <div class="student-name">
        <a>
            <span class="oi oi-person"></span>
            @StudentName
        </a>
    </div>
   
    <div class="student-class">
        <a>
            <span class="oi oi-bell"></span>
            @StudentClass
        </a>
    </div>
 </a>   
</div>



@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string StudentName { get; set; }

    [Parameter]
    public string StudentClass { get; set; }

    [Parameter]
    public int StudentId { get; set; }

    string infoLink {get {return "/gradeinfo/" + StudentId + "/";}}

}
